/* Set the font-family for all elements */
* {
  font-family: 'Lexend';
}

/* Styles for body */
body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: black;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* Styles for splash-screen  */
#splash-screen {
  width: 500px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles for text within the splash-screen */
#splash-text {
  font-size: 150px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  letter-spacing: 13px;
  margin-left: 25px;
}

/* Styles for View Sri Lanka */
#view-sri-lanka {
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 10px;
}

/* Styles for container that holds student names */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Styles for the first student name */
.student1 {
  margin-top: 10px;
  font-size: 20px;
  color: #b9b8b8;
  margin-right: 30px;
  margin-left: 0px;
  font-weight: 400;
}

/* Styles for the second student name */
.student2{
  margin-top: 10px;
  font-size: 20px;
  color: #b9b8b8;
  margin-right: 30px;
  font-weight: 400;
}

/* Styles for the third student name */
.student3{
  margin-top: 10px;
  font-size: 20px;
  color: #b9b8b8;
  font-weight: 400;
}

/* Styles for the grid container */
#grid {
  display: grid;
  grid-template-areas: a;
}

/* Styles for the center loading animation */
.center {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  margin-top: 30px;
}

/* Styles for ring */
.ring {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  animation: ring 0.5s linear infinite;
}

/* Animation keyframes for ring */
@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #ffffff;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #ffffff;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #ffffff;
  }
}

/* Pseudo-element for ring */
.ring:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 255, 255, .3);
}

/* Styles for the loading text */
span {
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 200px;
  animation: text 1s ease-in-out infinite;
  font-weight: 600;
}

/* Animation keyframes for the loading text */
@keyframes text {
  50% {
    color: black;
  }
}
